<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.metoo.nspm.core.mapper.zabbix.ZabbixSubnetMapper">

    <resultMap id="Base_Result_Map" type="com.metoo.nspm.entity.zabbix.Subnet">
        <id column="id" property="id"></id>
        <result column="ip" property="ip"></result>
        <result column="mask" property="mask"></result>
        <result column="vlan" property="vlan"></result>
        <result column="threshold" property="threshold"></result>
        <result column="parent_id" property="parentId"></result>
        <result column="parent_ip" property="parentIp"></result>
    </resultMap>

    <sql id="Base_Column_List>">
        id, ip, mask, parent_id, parent_ip, vlan, threshold
    </sql>

    <sql id="Inet_Column_List">
        id, INET_NTOA(ip) ip, mask, parent_id, INET_NTOA(parent_ip) parent_ip, vlan, threshold
    </sql>

    <select id="selectSubnetByParentId" parameterType="java.lang.Long" resultMap="Base_Result_Map">
        SELECT <include refid="Inet_Column_List" />
        FROM metoo_subnet
        <where>
            <if test="parentId != null and parentId != ''">
                  parent_id = #{parentId}
            </if>
            <if test="parentId == null">
                parent_id IS NULL
            </if>
        </where>
        ORDER BY ip + 0 ASC
    </select>

    <select id="selectObjByIp" resultMap="Base_Result_Map">
        SELECT *
        FROM metoo_subnet
        WHERE ip = #{ip} and mask = #{mask}
    </select>

    <select id="selectObjById" parameterType="java.lang.Long" resultMap="Base_Result_Map">
        SELECT <include refid="Inet_Column_List" />
        FROM metoo_subnet
        WHERE id = #{id}
    </select>


    <insert id="save" parameterType="com.metoo.nspm.entity.zabbix.Subnet" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO metoo_subnet
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="addTime != null">
                addTime,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="mask != null">
                mask,
            </if>
            <if test="vlan != null">
                vlan,
            </if>
            <if test="threshold != null">
                threshold,
            </if>
            <if test="parentIp != null">
                parent_ip,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            <if test="addTime != null">
                #{addTime},
            </if>
            <if test="ip != null">
                #{ip},
            </if>
            <if test="mask != null">
                #{mask},
            </if>
            <if test="vlan != null">
                #{vlan},
            </if>
            <if test="threshold != null">
                #{threshold},
            </if>
            <if test="parentIp != null">
                #{parentIp},
            </if>
            <if test="parentId != null">
                #{parentId},
            </if>
        </trim>
    </insert>

    <delete id="delete" parameterType="java.lang.Long">
        delete from metoo_subnet where id = #{id}
    </delete>
</mapper>